<div class="sidebar" data-color="orange" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
	<div class="logo">
		<a target="_blank" rel="noopener noreferrer" href="#" class="simple-text logo-normal"> Covid Dashboard </a>
	</div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			{% if request.user.is_authenticated %}

			<li class="nav-item {% if 'index' in segment %} active {% endif %}">
				<a class="nav-link" href="/">
					<i class="material-icons">dashboard</i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item {% if 'temp_data' in segment %} active {% endif %}">
				<a class="nav-link" href="/temp">
					<i class="material-icons">person</i>
					<p>Personal Checks</p>
				</a>
			</li>
			<li class="nav-item {% if 'vaccine' in segment %} active {% endif %}">
				<a class="nav-link" href="/vaccine">
					<i class="material-icons">healing</i>
					<p>Vaccine Info</p>
				</a>
			</li>
			<li class="nav-item {% if 'doctors' in segment %} active {% endif %}">
				<a class="nav-link" href="/doctors">
					<i class="material-icons">content_paste</i>
					<p>Doctor Visits</p>
				</a>
			</li>
			<li class="nav-item {% if 'medicines' in segment %} active {% endif %}">
				<a class="nav-link" href="/medicines">
					<i class="material-icons">local_hospital</i>
					<p>Medicine List</p>
				</a>
			</li>
			<li class="nav-item {% if 'family' in segment %} active {% endif %}">
				<a class="nav-link" href="/family">
					<i class="material-icons">favorite</i>
					<p>Family Visits</p>
				</a>
			</li>
			<li class="nav-item {% if 'trips' in segment %} active {% endif %}">
				<a class="nav-link" href="/trips">
					<i class="material-icons">location_ons</i>
					<p>Trips</p>
				</a>
			</li>

			<li class="nav-item {% if 'takeouts' in segment %} active {% endif %}">
				<a class="nav-link" href="/takeouts">
					<i class="material-icons">room_service</i>
					<p>Take Outs</p>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">
					<i class="material-icons">directions_run</i>
					<p>Logout</p>
				</a>
			</li>

			{% else %}

			<li class="nav-item active">
				<a class="nav-link" rel="noopener noreferrer" href="{% url 'login' %}">
					<i class="material-icons">unarchive</i>
					<p>Login</p>
				</a>
			</li>

			{% endif %}
		</ul>
	</div>
</div>
