{% extends "layouts/base.html" %} {% block title %} Family Visits {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
	<div class="col-md-5">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Log Family Visits</h4>
			</div>
			<div class="card-body">
				<h6 class="card-category">
					{% if msg %}
					<span class="text-danger">{{ msg | safe }}</span>
					{% else %} Add your family visits {% endif %}
				</h6>

				<br />

				{% if success %} Done!
				<p class="">
					Please <a href="{% url 'login' %}" class="text-black text-small">authenticate</a> using the new account.
				</p>

				{% else %}
				<form role="form" method="post" action="">
					{% csrf_token %}

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Location (Ex. Aunt Bella's House)</label>
								{{ form.location }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.username.errors }}</span> -->

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">No of people</label>
								{{ form.Noofpeople }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.email.errors }}</span> -->

					<br />

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="bmd-label-floating">Date</label>
								{{ form.date }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="bmd-label-floating">Time</label>
								{{ form.time }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.password1.errors }}</span> -->

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Reason</label>
								{{ form.reason }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.password2.errors }}</span> -->

					<br />

					<!-- <button type="submit" name="register" class="btn btn-primary pull-left">Save</button> -->

					&nbsp; &nbsp;
					<!-- <span class="pull-right"> Have an account? <a href="{% url 'login' %}" class="text-primary">Login</a> </span> -->

					<div class="clearfix"></div>
					<input type="submit" value="Submit" class="btn btn-secondary" />
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Family Visits</h4>

				<p class="card-category">Here is a list of your meetings with family</p>
			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>Location</th>

							<th>No Of People</th>

							<th>Date</th>

							<th>Time</th>

							<th>Reason</th>
						</thead>

						<tbody>
							{% for visit in visits %}
							<tr>
								<td>{{visit.location}}</td>

								<td>{{visit.noofpeople}}</td>

								<td>{{visit.date}}</td>

								<td>{{visit.time}}</td>

								<td class="text-primary">{{visit.reason}}</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
