{% extends "layouts/base.html" %} {% block title %} Covid Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header card-header-danger card-header-icon">
				<div class="card-icon">
					<i class="material-icons">info_outline</i>
				</div>
				<p class="card-category">Risk</p>
				<h3 class="card-title">10%</h3>
			</div>
			<div class="card-footer">
				<div class="stats"><i class="material-icons">local_offer</i> Tracked from user data</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header card-header-warning card-header-icon">
				<div class="card-icon">
					<i class="material-icons">content_copy</i>
				</div>
				<p class="card-category">Last Temp</p>
				<h3 class="card-title">
					{% if temp is not None%} {{temp}} {%else%} {{'-'}} {%endif%}
					<small>F</small>
				</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					{% if temp > 98 %}
					<i class="material-icons text-danger">warning</i>
					<p style="color: red">High</p>
					{% elif temp < 98 %}
					<i class="material-icons" style="color: green">check</i>
					<p style="color: green">Normal</p>
					{% else %}
					<i class="material-icons" style="color: yellow">warning</i>
					<p style="color: green">-</p>
					{%endif%}
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header card-header-success card-header-icon">
				<div class="card-icon">
					<i class="material-icons">store</i>
				</div>
				<p class="card-category">Last Takeout</p>
				{% if takeout is not None%}
				<h3 class="card-title">{{takeout.restaurant}}</h3>
				{%else%}
				<h3 class="card-title">{{'-'}}</h3>
				{%endif%}
			</div>
			<div class="card-footer">
				<div class="stats">
					{% if takeout is not None%}
					<i class="material-icons">date_range</i> {{takeout.date}} {%else%} {{'No data to display'}} {%endif%}
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header card-header-info card-header-icon">
				<div class="card-icon">
					<i class="material-icons" style="color: white">medication</i>
				</div>
				<p class="card-category">Last Doctor Visit</p>
				{% if drvisit is not None%}
				<h3 class="card-title">{{drvisit.doctor}}</h3>
				{%else%}
				<h3 class="card-title">{{'-'}}</h3>
				{%endif%}
			</div>
			<div class="card-footer">
				<div class="stats">
					{% if takeout is not None%}
					<i class="material-icons">update</i> {{drvisit.visit_date}} {%else%} {{'No data to display'}} {%endif%}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Doctor Visits</h4>

				<p class="card-category">Here is a list of your visits to the doctor</p>
			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>Doctor Name</th>

							<th>Date</th>

							<th>Reason</th>

							<th>Notes</th>
						</thead>

						<tbody>
							{% for visit in visits %}
							<tr>
								<td class="text-primary">{{visit.doctor}}</td>

								<td>{{visit.visit_date}}</td>

								<td>{{visit.reason}}</td>

								<td>{{visit.notes}}</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Take Outs</h4>

				<p class="card-category">Here is a list of your takeouts</p>
			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>Restaurant</th>

							<th>Takeout Type</th>

							<th>Date</th>

							<th>Time</th>
						</thead>

						<tbody>
							{% for out in outs %}
							<tr>
								<td class="text-primary">{{out.restaurant}}</td>

								<td>{{out.type}}</td>

								<td>{{out.date}}</td>

								<td>{{out.time}}</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Family Visits</h4>

				<p class="card-category">Here is a list of your meetings with family</p>
			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>Location</th>

							<th>No Of People</th>

							<th>Date</th>

							<th>Time</th>

							<th>Reason</th>
						</thead>

						<tbody>
							{% for visit in visits %}
							<tr>
								<td class="text-primary">{{visit.location}}</td>

								<td>{{visit.noofpeople}}</td>

								<td>{{visit.date}}</td>

								<td>{{visit.time}}</td>

								<td>{{visit.reason}}</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Medicine List</h4>

				<p class="card-category">Here is a list of your medicines</p>
			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>Medicine</th>

							<th>No Of Times in a Day</th>

							<th>From</th>

							<th>To</th>

							<th>Reason</th>
						</thead>

						<tbody>
							{% for list in lists %}
							<tr>
								<td class="text-primary">{{list.medicine}}</td>

								<td>{{list.Nooftimesaday}}</td>

								<td>{{list.fromdate}}</td>

								<td>{{list.to}}</td>

								<td class="text-primary">{{list.reason}}</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
	$(document).ready(function () {
		// Javascript method's body can be found in assets/js/demos.js
		md.initDashboardPageCharts();
	});
</script>

{% endblock javascripts %}
