{% extends "layouts/base.html" %} {% block title %} Medication {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="row">
	<div class="col-md-5">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Log Medication</h4>
			</div>
			<div class="card-body">
				<h6 class="card-category">
					{% if msg %}
					<span class="text-danger">{{ msg | safe }}</span>
					{% else %} Add your medication {% endif %}
				</h6>

				<br />

				{% if success %} Done!

				<p class="">
					Please <a href="{% url 'login' %}" class="text-black text-small">authenticate</a> using the new account.
				</p>

				{% else %}
				<form role="form" method="post" action="">
					{% csrf_token %}

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Medicine</label>
								{{ form.medicine }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.username.errors }}</span> -->

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">No of times a day</label>
								{{ form.Nooftimesaday }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.email.errors }}</span> -->

					<br />

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="bmd-label-floating">From</label>
								{{ form.fromdate }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="bmd-label-floating">To</label>
								{{ form.to }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.password1.errors }}</span> -->

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Reason</label>
								{{ form.reason }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.password2.errors }}</span> -->

					<br />

					<!-- <button type="submit" name="register" class="btn btn-primary pull-left">Save</button> -->

					&nbsp; &nbsp;
					<!-- <span class="pull-right"> Have an account? <a href="{% url 'login' %}" class="text-primary">Login</a> </span> -->

					<div class="clearfix"></div>
					<input type="submit" value="Submit" class="btn btn-secondary" />
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Doctor Visits</h4>

				<p class="card-category">Here is a list of your visits to the doctor</p>
			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>Medicine</th>

							<th>No Of Times in a Day</th>

							<th>From</th>

							<th>To</th>

							<th>Reason</th>
						</thead>

						<tbody>
							{% for list in lists %}
							<tr>
								<td>{{list.medicine}}</td>

								<td>{{list.Nooftimesaday}}</td>

								<td>{{list.fromdate}}</td>

								<td>{{list.to}}</td>

								<td class="text-primary">{{list.reason}}</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
