{% extends "layouts/base.html" %} {% block title %} Trips {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
	<div class="col-md-5">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Log Trips</h4>
			</div>
			<div class="card-body">
				<h6 class="card-category">
					{% if msg %}
					<span class="text-danger">{{ msg | safe }}</span>
					{% else %} Add your credentials {% endif %}
				</h6>

				<br />

				{% if success %}
					Done!

				<p class="">
					Please <a href="{% url 'login' %}" class="text-black text-small">authenticate</a> using the new account.
				</p>

				{% else %}
				<form role="form" method="post" action="">
					{% csrf_token %}

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Destination</label>
								{{ form.destination }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.username.errors }}</span> -->

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Duration</label>
								{{ form.duration }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.email.errors }}</span> -->

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">From</label>
								{{ form.fromdes }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.password1.errors }}</span> -->

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">To</label>
								{{ form.to }}
							</div>
						</div>
					</div>
					<!-- <span class="text-danger">{{ form.password2.errors }}</span> -->

					<br />

					<!-- <button type="submit" name="register" class="btn btn-primary pull-left">Save</button> -->

					&nbsp; &nbsp;
					<!-- <span class="pull-right"> Have an account? <a href="{% url 'login' %}" class="text-primary">Login</a> </span> -->

					<div class="clearfix"></div>
					<input type="submit" value="Submit" class="btn btn-secondary" />
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Your Past Trips</h4>
				<p class="card-category">Here is a list of your past 10 trips</p>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>ID</th>
							<th>Destination</th>
							<th>Duration</th>
							<th>From</th>
							<th>To</th>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Dakota Rice</td>
								<td>Niger</td>
								<td>Oud-Turnhout</td>
								<td class="text-primary">$36,738</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Minerva Hooper</td>
								<td>Curaçao</td>
								<td>Sinaai-Waas</td>
								<td class="text-primary">$23,789</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Sage Rodriguez</td>
								<td>Netherlands</td>
								<td>Baileux</td>
								<td class="text-primary">$56,142</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="col-md-12">
		<div class="card card-plain">
			<div class="card-header card-header-primary">
				<h4 class="card-title mt-0">Table on Plain Background</h4>
				<p class="card-category">Here is a subtitle for this table</p>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="">
							<th>ID</th>
							<th>Name</th>
							<th>Country</th>
							<th>City</th>
							<th>Salary</th>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Dakota Rice</td>
								<td>Niger</td>
								<td>Oud-Turnhout</td>
								<td>$36,738</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Minerva Hooper</td>
								<td>Curaçao</td>
								<td>Sinaai-Waas</td>
								<td>$23,789</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Sage Rodriguez</td>
								<td>Netherlands</td>
								<td>Baileux</td>
								<td>$56,142</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Philip Chaney</td>
								<td>Korea, South</td>
								<td>Overland Park</td>
								<td>$38,735</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Doris Greene</td>
								<td>Malawi</td>
								<td>Feldkirchen in Kärnten</td>
								<td>$63,542</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Mason Porter</td>
								<td>Chile</td>
								<td>Gloucester</td>
								<td>$78,615</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div> 
</div> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!--  Google Maps Plugin    -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->

<!-- <script>
	$(document).ready(function () {
		// Javascript method's body can be found in assets/js/demos.js
		demo.initGoogleMaps();
	});
</script> -->

{% endblock javascripts %}
