{% extends "layouts/base.html" %} {% block title %} UI Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
	<div class="col-md-5">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Log Personal Data</h4>
			</div>
			<div class="card-body">
				<h6 class="card-category">
					{% if msg %}
					<span class="text-danger">{{ msg | safe }}</span>
					{% else %} Add your Covid Data {% endif %}
				</h6>

				<br />

				{% if success %} Done!
				<p class="">
					Please <a href="{% url 'login' %}" class="text-black text-small">authenticate</a> using the new account.
				</p>

				{% else %}
				<form role="form" method="POST" action="">
					{% csrf_token %}

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Vaccine</label>
								{{ form.vaccine }}
							</div>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">1st Dose</label>
								{{ form.dose1 }}
							</div>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">2nd Dose</label>
								{{ form.dose2 }}
							</div>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Booster</label>
								{{ form.booster }}
							</div>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Notes</label>
								{{ form.notes }}
							</div>
						</div>
					</div>

					<br />

					&nbsp; &nbsp;

					<div class="clearfix"></div>

					<input type="submit" value="Submit" class="btn btn-secondary" />
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
	$(document).ready(function () {
		//init DateTimePickers
		md.initFormExtendedDatetimepickers();
	});
</script>

{% endblock javascripts %}
