{% extends "layouts/base.html" %} {% block title %} Vaccination Info {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
	<div class="col-md-5">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Log Vaccinations</h4>
			</div>
			<div class="card-body">
				<h6 class="card-category">
					{% if msg %}
					<span class="text-danger">{{ msg | safe }}</span>
					{% else %} Add your vaccinations {% endif %}
				</h6>

				<br />

				{% if success %}
				<h3 style="color: green">Data Saved!</h3>
				<br />
				{% endif %}

				<form role="form" method="POST" action="">
					{% csrf_token %}

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Vaccination</label>
								{{ form.temp }}
							</div>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group"><span>1st Dose</span> <span>{{ form.dose1 }}</span></div>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group"><span>2nd Dose</span> <span>{{ form.dose2 }}</span></div>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group"><span>Booster</span> <span>{{ form.booster }}</span></div>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Notes</label>
								{{ form.notes }}
							</div>
						</div>
					</div>

					<br />

					&nbsp; &nbsp;

					<div class="clearfix"></div>

					<input type="submit" value="Submit" class="btn btn-secondary" />
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Temperature Record</h4>

				<p class="card-category">Here is a list of your measured temperatures</p>
			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<th>Temperature</th>

							<th>Date</th>

							<th>Time</th>

							<th>Notes</th>
						</thead>

						<tbody>
							{% for temp in temps %}
							<tr>
								<td>{{temp.temp}}</td>

								<td>{{temp.date}}</td>

								<td>{{temp.time}}</td>

								<td>{{temp.notes}}</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
